[Unit]
Description=CAN MQTT IPC Presenter
After=mosquitto.service
Wants=mosquitto.service

[Service]
Type=simple
WorkingDirectory=/opt/can_mqtt_ipc/presenter
ExecStart=/opt/can_mqtt_ipc/presenter/.venv/bin/python main.py --config /opt/can_mqtt_ipc/config.json
Restart=on-failure
RestartSec=5s
TimeoutStopSec=20
KillMode=control-group
ExecStop=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target
