[Unit]
Description=Load vcan driver
After=network.target
Before=vcan-iface@.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/modprobe vcan
ExecStop=/sbin/rmmod vcan || true

[Install]
WantedBy=multi-user.target